/* Arreglo que evita el desorden del contenido*/

* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}





/*Fuentes externa*/

@font-face {
    font-family: neonled;
    src: url(fuentes/neonled.ttf);
}

@font-face {

    font-family: conthrax;
    src: url(fuentes/conthrax.ttf)
}



body {

    height: 100vh;
    background: url(imagen/fondo.jpg);
    background-size: cover;
    font-size: 13pt;

}




/* ====== Titulo de la pag ====== */


/* COntrol de todos los objetos */


#zonetittle {

    position: relative;
    right: 80px;
}




/* textos */

h1.T1 {
    /* Titulo (Universidad catolica de temuco)*/

    font-family: "neonled";
    position: absolute;
    left: 730px;
    top: 60px;
    letter-spacing: 5px;
    font-weight: bold;
    text-align: center;
    color: white;


}



h2.T2 {
    /* Subtitulo que da el nombre de la pag (Computer Area Multipurpose Page) */

    font-family: "neonled";
    position: absolute;
    text-align: center;
    left: 730px;
    top: 100px;
    letter-spacing: 5px;
    font-weight: bold;
    color: white;
    font-size: 200;


}

/* imagenes */

img.logo {
    /* logo de la Universidad */

    position: relative;
    left: 570px;
    top: 25px;
    text-align: center;
    width: 5%;

}

.derecha {
    /* caracter decorativo a mano derecha del titulo */

    position: relative;
    left: 1196px;
    top: 32px;
    width: 6%;

}

img.izquierda {
    /* caracter decorativo a mano izquierda del titulo */

    position: relative;
    left: 440px;
    top: 32px;
    width: 6%;

}




/* ========== Caja de logeo ==========*/


/* ====== textos ====== */

.camp {


    font-family: "conthrax";
    font-size: 25px;
    color: white;
    position: relative;
    bottom: 400px;
    left: 745px;
    letter-spacing: 40px;
    width: 22%;
}



.bin {

    font-family: "conthrax";
    font-size: 19px;
    color: white;
    position: relative;
    bottom: 380px;
    left: 705px;
    width: 25%;
}


.logtext {

    font-family: "conthrax";
    color: white;
    position: relative;
    bottom: 350px;
    left: 710px;
    width: 10%;

}

/* ====== Imagenes ====== */

.lineas {

    position: relative;
    width: 550px;
    top: 200px;
    left: 655px;

}

/* ====== Ingresar datos ====== */


.gen input[type="text"] {

    font-size: 23px;
    font-family: "conthrax";
    color: white;
    position: relative;
    bottom: 280px;
    left: 697px;
    border: none;
    background: transparent;
    outline: none;
    width: 11%;
}


.reg input[type="email"] {

    font-size: 23px;
    font-family: "conthrax";
    color: white;
    position: relative;
    bottom: 218px;
    left: 699px;
    border: none;
    background: transparent;
    outline: none;
    width: 11%;

}


.cont input[type="password"] {

    font-size: 23px;
    color: white;
    font-family: "conthrax";
    position: relative;
    bottom: 152px;
    left: 700px;
    border: none;
    background: transparent;
    outline: none;
    width: 11%;
}


/* ====== Boton de estudiantes ====== */



.bot input[type="submit"] {

    font-family: "conthrax";
    font-size: 30px;
    position: relative;
    bottom: 80px;
    left: 710px;
    color: white;
    background: transparent;
    outline: none;
    border: none;
}


.butt:hover {

    color: #F7DD14 !important;
}


/* ========== Logueo de Profesores ========= */


/* texto */

.logtextD {

    font-family: "conthrax";
    color: white;
    width: 10%;
    position: relative;
    bottom: 498px;
    left: 970px;
}


/* ingresar datos */



.genD input[type="text"] {

    font-size: 23px;
    font-family: "conthrax";
    color: white;
    position: relative;
    bottom: 430px;
    left: 950px;
    background: transparent;
    border: none;
    outline: none;
    width: 11%;

}


.correoD input[type="text"] {

    font-size: 23px;
    color: white;
    position: relative;
    bottom: 366px;
    left: 950px;
    width: 11%;
    font-family: "conthrax";
    background: transparent;
    border: none;
    outline: none;

}



.contD input[type="password"] {

    font-size: 23px;
    color: white;
    position: relative;
    bottom: 301px;
    left: 950px;
    width: 11%;
    font-family: "conthrax";
    background: transparent;
    border: none;
    outline: none;

}


.botonD input[type="submit"] {


    font-family: "conthrax";
    font-size: 30px;
    position: relative;
    bottom: 228px;
    left: 960px;
    color: white;
    background: transparent;
    outline: none;
    border: none;
}


.warnings {
    text-align: center;
    color: red;
    position: fixed;
}

#warnings {
    left: 950px;

}

#warnings2 {
    left: 700px;
}